/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
.title[data-v-2dcb6735] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title span[data-v-2dcb6735] {
    font-size: 0.9em;
    color: white;
}
.component[data-v-2dcb6735] {
  display: flex;
  justify-content: center;
  position: relative;
  border-right: 1px solid rgba(60, 70, 80, 0.4);
  padding: 0 5px;
}
.component[data-v-2dcb6735]:last-of-type {
    border-right: none;
}
.component img[data-v-2dcb6735] {
    max-height: 40px;
}
.component .count[data-v-2dcb6735] {
    position: absolute;
    top: 0;
    right: 10%;
    color: white;
    font-size: 0.85em;
}
.component-wrapper[data-v-2dcb6735] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  transform: scale(1);
  padding: 9.33333;
  cursor: pointer;
  border-radius: 1000px;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  transition-timing-function: ease;
  transition-duration: 0.2s;
}
.component-wrapper[data-v-2dcb6735]::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    border-radius: 1000px;
    background: rgba(200, 225, 250, 0.2);
    transition-timing-function: ease;
    transition-duration: 0.15s;
}
.component-wrapper[data-v-2dcb6735]:hover {
    background: rgba(200, 225, 255, 0.1);
    transition-timing-function: ease;
    transition-duration: 0.3s;
}
.component-wrapper[data-v-2dcb6735]:hover:before {
      transition-timing-function: ease;
      transition-duration: 0.8s;
}
@media (max-width: 40em) {
.component-wrapper[data-v-2dcb6735]:hover {
        background: transparent;
}
}
.component-wrapper[data-v-2dcb6735]:active {
    transition-timing-function: ease;
    transition-duration: 0.2s;
    transform: scale(0.97);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.component-wrapper[data-v-2dcb6735]:active:before {
      opacity: 1;
      transition-timing-function: ease;
      transition-duration: 0.1s;
}
.component-wrapper.a-ie-nz[data-v-2dcb6735] {
    transform: scale(1) !important;
}
.component-wrapper:hover + .tooltip[data-v-2dcb6735] {
    opacity: 1;
    transform: translateX(5px);
}
.component-wrapper + .tooltip[data-v-2dcb6735] {
    white-space: nowrap;
    margin-left: 10px;
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
.item-data[data-v-01facd34] {
  border-bottom: 1px solid rgba(60, 70, 80, 0.4);
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.item-data[data-v-01facd34]:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
.item-data span[data-v-01facd34] {
    color: white;
    font-size: 0.9em !important;
    padding-right: 8px;
    border-right: 1px solid rgba(120, 132, 144, 0.4);
}
.item-data span:nth-of-type(1) ~ span[data-v-01facd34] {
    padding-left: 5px;
}
.item-data span[data-v-01facd34]:last-of-type {
    border-right: none;
}
.item-data img[data-v-01facd34] {
    padding: 3.5px;
    margin-right: 2px;
}
.item-data span.negative[data-v-01facd34] {
    color: #f85242;
}
.item-data .data-price-diff[data-v-01facd34] {
    color: #39e56f;
}
.ducats[data-v-01facd34] {
  color: #39e56f !important;
  border-right: none !important;
  padding-right: 0 !important;
}
.ducats ~ span[data-v-01facd34] {
  padding-left: 0 !important;
  color: #949caa;
}
.col:first-of-type span[data-v-01facd34] {
  font-size: 0.9em;
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
[data-v-78f58383] .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
[data-v-78f58383] .header span {
    font-size: 0.9em;
    color: white;
}
[data-v-78f58383] .body {
  margin: auto;
}
.drop[data-v-78f58383] {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
.drop[data-v-78f58383]:nth-of-type(2n - 1) {
    width: calc(50% - 20px);
    padding-right: 20px;
}
.drop[data-v-78f58383]:nth-of-type(1n + 2) {
    padding-bottom: 0;
    margin-bottom: 0;
}
.drop .location[data-v-78f58383] {
    font-size: 0.9em;
}
.drop .chance[data-v-78f58383] {
    margin-top: 3px;
}
.drop .rarity[data-v-78f58383] {
    color: #949caa;
    font-size: 0.9em;
}
.drop a[data-v-78f58383] {
    transform: scale(1);
    padding: 9.33333;
    cursor: pointer;
    border-radius: 1000px;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    transition-timing-function: ease;
    transition-duration: 0.2s;
    background: rgba(255, 255, 255, 0.04);
    display: flex;
    justify-content: center;
    height: 48px;
    width: 48px;
}
.drop a[data-v-78f58383]::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      opacity: 0;
      border-radius: 1000px;
      background: rgba(200, 225, 250, 0.2);
      transition-timing-function: ease;
      transition-duration: 0.15s;
}
.drop a[data-v-78f58383]:hover {
      background: rgba(200, 225, 255, 0.1);
      transition-timing-function: ease;
      transition-duration: 0.3s;
}
.drop a[data-v-78f58383]:hover:before {
        transition-timing-function: ease;
        transition-duration: 0.8s;
}
@media (max-width: 40em) {
.drop a[data-v-78f58383]:hover {
          background: transparent;
}
}
.drop a[data-v-78f58383]:active {
      transition-timing-function: ease;
      transition-duration: 0.2s;
      transform: scale(0.97);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.drop a[data-v-78f58383]:active:before {
        opacity: 1;
        transition-timing-function: ease;
        transition-duration: 0.1s;
}
.drop a.a-ie-nz[data-v-78f58383] {
      transform: scale(1) !important;
}
.drop img[data-v-78f58383] {
    height: 48px;
    filter: grayscale(0.3);
    transition-timing-function: ease;
    transition-duration: 0.25s;
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
[data-v-af469e0c] .zoom-enter-active,[data-v-af469e0c] .fade-leave-active {
  transition-timing-function: ease;
  transition-duration: 0.4s;
}
[data-v-af469e0c] .zoom-enter,[data-v-af469e0c] .zoom-leave-to {
  transform: translateY(7px);
  transform-origin: top;
  opacity: 0.75;
}
.app-content[data-v-af469e0c] {
  background: #16191e;
}
h2[data-v-af469e0c] {
  margin-bottom: 20px;
}
.row-pad[data-v-af469e0c] .module {
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
}
.column[data-v-af469e0c] {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.patchlogs[data-v-af469e0c] {
  justify-content: flex-start;
}
.patchlogs[data-v-af469e0c] .patchlog img {
    display: none;
}
@media (max-width: 75em) {
.patchlogs[data-v-af469e0c] .patchlog {
      max-width: calc(50% - 20px);
}
}
@media (max-width: 40em) {
.patchlogs[data-v-af469e0c] .patchlog {
      max-width: none;
}
}
.patchlogs[data-v-af469e0c] .patchlog .header {
    padding: 0;
}
.patchlogs[data-v-af469e0c] .patchlog .header h3 {
      padding: 30px 35px 0;
      color: white !important;
}
.patchlogs[data-v-af469e0c] .patchlog .header time {
      padding: 0 35px;
}

